provider "google" {
  project     = "{{ project }}"
  region      = "us-central1"
  zone        = "us-central1-c"
  credentials = "/root/sv-account-terraform.json"
}

# Create a single Compute Engine instance
resource "google_compute_instance" "default" {
  name         = "{{ host_name }}"
  machine_type = "e2-small"
  zone         = "us-central1-c"
  tags         = ["ssh"]

  boot_disk {
    initialize_params {
      image = "{{ so }}"
    }
  }
  network_interface {
    network = "default"
    subnetwork = "default"
    network_ip = "{{ ip_address }}"
  }
    metadata = {
    ssh-keys = "ansible:"
    }
}
